* {
    margin: 0px;
    padding: 0px;    
}

.container {
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 2px;
    background-color: red;
    height: 90px;
    border: 5px black solid;
    border-radius: 10px;
}

.seccionmenu {
    text-align: center;
    color: black;
    margin-bottom: 10%;
    margin-top: 30px;
}

h1 {
    text-align: center;
}

.secciongeneral {
    margin-bottom: 0px;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5px;
    display: justify;   
    justify-content: stretch;
}

.seccionarticulos {
    display: flex;
    flex-wrap: wrap;        
}

.seccionfiguras {
    width: 25%;
    margin: 20px;
    margin-left: 5%;
    border: 2px red solid;
    border-right: 3px red solid;
    border-bottom: 3px red solid;
    text-align: center;
    border-radius: 9px;
}

.cuadrado-tricolor {
    width: 0; 
    height: 0; 
    margin-left: 35%;
    margin-top: 45px;
    border-left: 100px yellow solid;
    border-top: 50px blue solid;
    border-bottom: 50px  red solid;  
}

.triangulo {
    width: 0px; 
    height: 0px;
    margin-left: 35%;
    margin-top: 40px;
    border-left: 50px transparent solid; 
    border-right: 50px transparent solid;
    border-bottom: 100px red solid;
    border-top: 0px black solid; 
}

.obalo1 {
    width: 80px;
    height: 120px;
    margin-left: 35%;
    margin-top:30px;
    margin-bottom: 20px;
    border-radius: 50% ;
    border: 5px red solid;
    background: white;
}

.obalo2 {
    width: 120px;
    height: 80px;
    margin-left: 30%;
    margin-top: 50px;
    margin-bottom: 40px;
    border-radius: 50% ;
    border: 5px red solid;
    background: white;
}

.rombo {
    width: 0px; 
    height: 0px; 
    margin-left: 35%;
    margin-top: 35px;
    border-left: 50px transparent solid;
    border-right: 50px transparent solid;
    border-top: 0px;
    border-bottom: 50px red solid;       
}
.rombo2 {
    width: 0px; 
    height: 0px; 
    margin-left: 35%;
    margin-top: 0px;
    border-left: 50px transparent solid;
    border-right: 50px transparent solid;
    border-top: 50px red solid;
    border-bottom: 0px;       
}

.pac-man { 
    width:0; 
    height:0; 
    margin-left: 35%;
    margin-top: 45px;
    border-right: 50px transparent solid; 
    border-top: 50px yellow solid; 
    border-left: 50px blue solid; 
    border-bottom: 50px red solid;
    border-radius: 100%; 
    }

footer {
    margin-left: 5px;
    margin-right: 5px;
    text-align: center;
    border: 5px black solid;
    border-radius: 9px;
    background-color: red;
    height: 40px;
    margin-top: 10px;
    margin-bottom: 8px;
}

footer p {
    padding-top: 9px;
}