* {
    margin: 0px;
    padding: 0px;    
}

.container {
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 2px;
    background-color: red;
    height: 90px;
    border: 5px black solid;
    border-radius: 10px;
}

.seccionmenu {
    text-align: center;
    color: black;
    margin-bottom: 10%;
    margin-top: 30px;
}

.secciongeneral {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5px;
}

.seccionarticulos {
    display: flex;
    flex-wrap: wrap;    
}

.seccionfiguras {
    width: 25%;
    margin: 15px;
    margin-left: 5%;
    border: 2px red solid;
    border-right: 3px red solid;
    border-bottom: 3px red solid;
    text-align: center;
    border-radius: 9px;
}
.circulo {
    margin-left: 50%;
    margin-top:50px;
    width: 100px;
    height: 100px;
    border-radius: 50% ;
    border: 5px pink solid;
    background: #050505;
}

.cuadrado {
    width: 100px; 
    height: 100px; 
    background: #428bca;
    margin-left: 50%;
    margin-top:50px;   
}

.cuadrado-tricolor {
    width: 0; 
    height: 0; 
    border-left: 100px solid #0f84eb;
    border-top: 50px solid #f0ad4e;
    border-bottom: 50px solid #d9534f; 
    margin-left: 50%;
    margin-top:50px;  
}

.pac-man { 
    width:0; 
    height:0; 
    border-right: 50px solid transparent; 
    border-top: 50px solid #f0ad4e; 
    border-left: 50px solid #428bca; 
    border-bottom: 50px solid #d9534f;
    border-radius: 100%; 
    margin-left: 50%;
    margin-top:50px;
    }
